{% extends "base.html" %}
{% load static %}

{% block title %}Ошибка 404 - Страница не найдена{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/404.css' %}">
{% endblock %}

{% block content %}
<div class="error-container">
    <div class="error-content">
        <h1>404</h1>
        <p>Ой! Похоже, вы заблудились в пиццерии...</p>
        <p>
            Страница, которую вы искали, не существует или съедена 
            аниматрониками.
        </p>
        <a href="{% url 'home' %}" class="back-button">
            Вернуться в безопасное место</a>
    </div>
</div>

<div class="darken-overlay"></div>

<audio id="whisper-sound" src="{% static 'media/error_404/whisper.mp3' %}" 
    preload="auto"></audio>
<audio id="ring-sound" src="{% static 'media/error_404/ring.mp3' %}" 
    preload="auto"></audio>
<audio id="static-sound" src="{% static 'media/error_404/static.mp3' %}" 
    preload="auto" loop></audio>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/404.js' %}"></script>
{% endblock %}
